body {
    background-image: url(../images/O5GLLH0.jpg)
}


.jumbotron {
    margin: 20px;
    padding: 20px;
}
.holder {
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

#display {
    margin: 10px;
}

p {
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
    margin: 5px;
}

.blurb {
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 10px;
}